


<header class="header">
<span class="cover top"></span>
<span class="cover right"></span>
<span class="cover left"></span>
<span class="cover bottom"></span>

 <div class="colco">
  <div class="content">
    <div class="infowrap"></div>
     <h1 class="heading">Contact </h1>
      <ul>
      <li class="phone">
      <%= image_tag "phone.png", class: "icphone" %>
        <a class="btn btn-warning" href="tel:+0632377082"> Phone number </a>
      </li>
      <li class="email">
      <%= image_tag "mail.png", class: "mail" %>
        <a class="btn btn-warning" href="mailto:mathewhollande@gmail.com">Email</a>
      </li>
      <li class="address">
      <%= image_tag "address.png", class: "dress" %>
        <a class="btn btn-warning" href="https://www.google.com/maps/place/Canada/@50.821079,-130.1418467,3z/data=!3m1!4b1!4m5!3m4!1s0x4b0d03d337cc6ad9:0x9968b72aa2438fa5!8m2!3d56.130366!4d-106.346771"> My location  </a>
      </li>
      </ul>
    </div>
  </div>
 </div>
      <div class="col">
        <div class="row"></div>

<div class="navbcontact">
  <div class="nav-header">
    <div class="nav-title">
      <div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <%= image_tag "profile.png", class: "circle" %>
    </div>
    <div class="flip-box-back">
      <%= image_tag "ng.png", class: "backcircle" %>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <%= link_to "Home", root_path, class: "navbut" %>
    <%= link_to "About me", about_path, class: "navbut" %>
    <%= link_to "Contact", contact_path, class: "navbut" %>
  </div>
          <%= image_tag "busi.png", class: "cani" %>
      </div>
</header>
