
<div class="container">

<body>
    <div class="navb">
    <div class="nav-header">
      <div class="nav-title">
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <%= link_to "Home", root_path, class: "navbut" %>
      <%= link_to "About me", about_path, class: "navbut" %>
      <%= link_to "Contact", contact_path, class: "navbut" %>
    </div>
  </div>
  <body>
  <div class="main-cont">
    <div class="portfolio">
      <div class="portfolio-item medium one"><%= link_to 'My email', "mailto:mathewhollande@gmail.com", class: 'bouton'  %></div>
      <div class="portfolio-item large two"><%= link_to 'Call-me', "tel:+632377082", class: 'bouton'  %></div>
      <div class="portfolio-item medium three"><%= link_to 'I am Here', "https://goo.gl/maps/RR5Y9hZWjG3j2urK7", class: 'bouton'  %></div>
      <div class="portfolio-item small four"><%= link_to 'Github', "https://github.com/Mateusc59", class: 'bouton'  %></div>
      <div class="portfolio-item tall five"><%= link_to 'Portfolio', "troopl.com/mathewhollande", class: 'bouton'  %></div>
      <div class="portfolio-item wide six"><%= link_to 'Linkedin', "https://www.linkedin.com/in/mathieu-hollande/", class: 'bouton'  %></div>
    </div>
  </div>


</body>

  </div>
