<!DOCTYPE html>
<html>
  <head>
    <title>My profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  </head>

  <body>
  <div class="navb">
  <div class="nav-header">
    <div class="nav-title">
      Welcome !
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <%= link_to "Home", root_path, class: "navbut" %>
    <%= link_to "About me", about_path, class: "navbut" %>
    <%= link_to "Contact", contact_path, class: "navbut" %>
  </div>
</div>
<div class="ban">
  <div class="container">

    <a class="btn btn-primary" href="#section"> Discover ⬇ </a>

  </div>
</div>
  <div class="container">

        <div id="section"></div>

      <div class="banner">
        <div class="photo">
        <h2><span id="banner-typed-text"></span></h2>
      <%= image_tag "ng.png", class: "img-circle" %>
      <p>"I love Front End, UX/UI Design, web-development, learning is one of my best quality. I'm a big fan of all kind of sports! 🏋🏻‍♂️"</p>

  <%= link_to "More about me", about_path, class: "btn btn-light" %>

     </div>
    </div>
<div class="row justify-content-around">
    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "van.png", class: "imcart" %>
          <h4>VanYourLife</h4>
        </div>
        <div class="flip-cart-back">
          <h5>Description:</h5>
          <h6>Our first first group project: We learned to work as a team, the goal of the exercise was to create an airbnb like to rent vans to other people. A great challenge and a dream team building. </h6>
        <%= link_to "VanYourLife" ,"https://vanyourlife.herokuapp.com/", class: "btn btn-success" %>
        </div>
      </div>
    </div>

    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "biky.png", class: "imcart" %>
          <h4>Bike Away</h4>
        </div>
        <div class="flip-cart-back">
          <h5>Description:</h5>
          <h6>Our second group project in 'Le Wagon' bootcamp, Lille. It's an fantastic app for people who desire to share a ride with others anywhere you are, anywhere you want. You can also create your own itinerary and offer other people to join.(mobile app)</h6>
        <%= link_to "Bike Away" , "http://www.bikeaway.live/", class: "btn btn-success" %>

 </div>
      </div>
    </div>

    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "can.png", class: "imcart" %>
          <h4>International exchange</h4>
        </div>
        <div class="flip-cart-back">
          <h5>Description:</h5>
          <h6>Canada Tour in 2 years (Calgary, Vancouver, Toronto, Montreal).
My objective was to improve my English level, an enriching experience, full of challenges that allowed me to learn, adapt and surpass myself.
I discovered coding and since then I want to make it my dream job!</h6>
        </div>
      </div>
    </div>
    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "focus.png", class: "imcart" %>
          <h4>Keep Learning</h4>
        </div>
        <div class="flip-cart-back">
          <h5>Description:</h5>
          <h6>After the wagon, I keep every day thanks to the realization of new projects (my portfolio, design of an online showcase for collectibles).
            I'm learning the React framework and the javascript language while improving my knowledge.</h6>
        </div>
      </div>
    </div>
    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "stepp.png", class: "imcart" %>
          <h4>Next Step</h4>
        </div>
        <div class="flip-cart-back">
          <h5>Description:</h5>
           <h6>Evolve in an innovative company where progress and learning are the key.
Advancing together in a cohesive team spirit.
Reaching goals and setting new ones.</h6>
        </div>
      </div>
    </div>
    <div class="flip-cart">
      <div class="flip-cart-inner">
        <div class="flip-cart-front">
          <%= image_tag "pro.png", class: "imcart" %>
        </div>
        <div class="flip-cart-back">
          <h5>Description</h5>
          <h6>Here my new project is on his way...can't wait to talk about it !</h6>
        </div>
      </div>
    </div>
</div>

  </body>
  <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/Mateusc59"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/mathieu.hollande.75"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/mathieu-hollande/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
  </div>
</html>
